.btn-blue {
	background-color: #11999e;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}

.btn-inscription {
	background-color: #11999e;
	padding: 12px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'roboto', sans-serif;
	font-size: 15px;
}