.container {
	width: 700px;
	margin: 50px auto;
}

img {
	width: 50px;
	height: 80px;
}

h1, h2, h3 {
  font-family: 'Arial', serif;
  font-weight: bold;
  color: black;

}

h1,h2 {
  color:white;
}

h2 {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  color:black;
  text-align: center;
  margin: 30px 5px;
}

.subtitles {
  font-style: normal;
  text-align: center;
  font-size: 16px;
  font-family: "montserrat";
  color: black;
}

.description {
  font-size: 26px;
}

